#goback{
    position: absolute;
    font-size: 40px;
    color: var(--main-color);
    top: 20px;
    right: 8px;
    transition: var(--main-transition);
    cursor: pointer;
}
#goback:hover{
    color: var(--main-hover);
}
/* Start Up-dwon */
.up-down-holder{
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 50px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6;
}
.up-down-holder div{
    width: 40px;
    height: 50px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
    transition: var(--main-transition);
}
.up-down-holder div:hover{
    border: 1px var(--main-color) solid;
    background-color: transparent;
}
.up-down-holder div i{
    color: white;
    font-size: 20px;
    transition: var(--main-transition);
}
.up-down-holder div:hover i{
    color: var(--main-color);
}

.up-down-holder div:first-of-type{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.up-down-holder div:nth-child(2){
    height: 30px;
}
.up-down-holder div:last-of-type{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.up-down-holder div:last-of-type i{
    transform: rotate(180deg);
}
/* End Up-dwon */

/* Report Type Control */
.report-type{
    margin-top: 30px;
}
.report-type .container{
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
}
.report-type .container div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
    border: 2px var(--main-color) solid;
    transition: var(--main-transition);
    cursor: pointer;
}
.report-type .container div:first-of-type{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.report-type .container div:last-of-type{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.report-type .container div:not(:first-of-type , :last-of-type){
    margin: 0 5px;
}
.report-type .container div:hover,
.report-type .container div.active{
    background-color: var(--main-color);
    color: white;
}

.next-previous .container{
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
}
.next-previous .npcn{
    color: var(--main-color);
    font-size: 40px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: var(--main-transition);
    position: relative;
}
.next-previous .npcn:hover{
    color: var(--main-hover);
    transform: scale(1.1);
}

/* Start student table */
.student-table{
    margin-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 80px;
}
.student-table .container{
    padding: 0;
    padding-bottom: 20px;
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.student-table h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: 30px;
    direction: rtl;
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
}

.student-table .container table{
    width: 100%;
    direction: rtl;
    position: relative;
    border-spacing: 3px 10px
}
.student-table .container table thead{
    background-color: var(--main-color);
    color: white;
    position: relative;
}

.student-table .container table thead tr{
    height: fit-content;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.student-table .container table thead tr th{
    padding: 0 10px ;
}
.student-table .container table th.col-sticky,
.student-table .container table td.col-sticky{
    position: sticky;
    position: -webkit-sticky;
    z-index: 5;
}
.student-table .container table .number-head,
.student-table .container table .number-body{
    min-width: 51px;
    max-width: 55px;
    right: 0;
}
.student-table .container table thead .number-head{
    border-top-right-radius: 10px;
    background-color: var(--main-color);
    border-left: 1.25px white solid;
}

.student-table .container table .name-head,
.student-table .container table .name-body{
    max-width: 250px;
    min-width: 200px;
    right: 55px;
}
.student-table .container table thead .name-head{
    background-color: var(--main-color);
    border-left: 1.25px white solid;
}
.student-table .container table tbody .name-body{
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #777;
    color: #777;
    text-align: right;
    padding-right: 5px;
}

.student-table .container table thead tr .number{
    width: 40px;
    padding: 0 2px;
}
.student-table .container table thead tr .name-head,
.student-table .container table thead tr .name-body{
    width: 250px;
}
.student-table .container table thead tr:first-of-type th:first-of-type {
    border-top-right-radius: 10px;
}
.student-table .container table thead tr:first-of-type th:last-of-type{ 
    border-top-left-radius: 10px;
}     
.student-table .container table tbody tr{
    height: 45px;
    font-weight: bold;
    transition: var(--main-transition);
}
.student-table .container table tbody td:not(:nth-child(2)){
     text-align: center;
}
.student-table .container table tbody tr td{
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #777;
    color: #777;
    transition: var(--main-transition);
    position: relative;
    height: 60px;
    min-width: 60px;
}
.student-table .container table tbody tr td svg,
.student-table .container table tbody tr td .inner,
.student-table .container table tbody tr td .outer,
.student-table .container table tbody tr td span{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50% , -50%);
}
.student-table .container table tbody tr td .outer{
    width: 48px;
    height: 48px;
    border: 2px #77777763 solid;
    box-shadow: inset 0 0px 2px 0px #c3c3c3;
}
.student-table .container table tbody tr td.total-body .outer{
    width: 59px;
    height: 59px;
}
.student-table .container table tbody tr td .inner{
    width: 40px;
    height: 40px;
    background-color: white;
}
.student-table .container table tbody tr td span{
    font-size: 18px;
}

circle{
    fill: none;
    stroke: var(--main-color);
    stroke-width: 5px;
    stroke-dasharray: 144;
    stroke-dashoffset: 0;
}
td.total-body circle{
    stroke-dasharray: 177;
}

.student-table .container table tbody tr td.appre-body{
    position: relative;
    width: 80px;
}
.student-table .container table tbody tr td.appre-body img{
    width: 30px;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%,0);
}


/* Custome Scroll Bar */
.student-table .container::-webkit-scrollbar{
    height: 5px;
}
.student-table .container::-webkit-scrollbar-thumb {
    background-color:var(--main-color);
    border-radius: 20px;
}
.student-table .container::-webkit-scrollbar-thumb:hover {
    background-color:#318e8a;
}
.student-table .container::-webkit-scrollbar-track {
    background-color:#d3d3d3bc;
    border-radius: 20px;
    margin-inline: 255px;
}
.student-table .container table tbody .no-Data{
    font-size: 30px;
    padding-top: 30px;
    color: var(--red-color);
}

/* Start Phone Mode (Table)*/
@media (max-width: 900px){
    .student-table h1{
        font-size: 25px;
        font-weight: bold;
    }
    .next-previous .npcn{
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 700px){
    .npcn::after{
        font-size: 16px !important;
    }
    .npcn:hover::before{
        display: none !important;
    }
    .npcn.previous::after{
       transform:  translate(102% , -70%) !important;
    }
    .npcn.next::after{
        transform: translate(0% , 20%) !important;  
    }
}
@media (max-width : 600px) {
    .next-previous .container{
        display: grid;
        grid-template-columns: repeat(2 , minmax(50px , 1fr));
        grid-template-rows: repeat(2 , minmax(50px , 1fr));
        justify-content: center;
        height: 130px;
        padding-bottom: 0;
    }
    .next-previous .container h1{
        justify-self: center;
    }        
    .next-previous .container .Title-holder{
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
    }
    .next-previous .container .previous{
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self:flex-end;
        align-items:flex-end;
        margin-top: -15px;

    }        
    .next-previous .container .next{
        grid-row-start: 2;
        grid-row-end: 3;
        margin-top: -15px;
    }        
    #goback{
        display: none;
    }
    .up-down-holder{
        display: none;
    }

}
@media (max-width: 580px){
    #goback{
        display: none;
    }
    .student-table{
    margin-top: 60px;
    }
    .student-table .next-previous .container{
        height: 150px;
    }
    .student-table .container{
    max-width: 400px;

    }
    .student-table .container table thead tr{
    font-size: 15px;
    }
    .student-table .container table thead th.name-head{
    width: 150px;
    }
    .student-table .container table .number-head,
    .student-table .container table .number-body{
        min-width: 40px;
        max-width: 40px;
        right: 0;
    }
    .student-table .container table thead .number-head{
        border-top-right-radius: 10px;
        background-color: var(--main-color);
        border-left: 1.25px white solid;
    }
    .student-table .container table tbody .number-body{
        background-color: #fff;
        box-shadow: 0px 0px 5px 0px #777;
        color: #777;
    }
    .student-table .container table .name-head,
    .student-table .container table .name-body{
        max-width: 150px;
        min-width: 150px;
        right: 42px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        
    }
    .student-table .container table tbody .name-body{
        font-size: 13px;
    }

    .student-table .container table thead tr{
    width: 70px;
    }
    .student-table .container table tbody tr td{
    font-size: 12px;
    }
    .student-table .container table tbody tr td.rate-body,
    .student-table .container table tbody tr td.listener-body,
    .student-table .container table tbody tr td.rate-rev-body{
    display: none;
    }
    }
    .student-table .container table tbody tr td.total-body{
        background-color:transparent ;
        opacity: 0.8;
        box-shadow: none;
    }
    .student-table .container table tbody tr td.total-body .rate{
        font-size: 25px;
    }
    .student-table .container table tbody tr  td.appre-body{
        background-color: transparent;
        box-shadow: none;
    }
    .student-table .container table tbody tr  div.appre{
        margin-top: 4px;
        font-size: 20px;
    }
    .student-table .container table tbody tr  div.appre i{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        color:  #ffd600;
    }

/* Start Control */
.content .container .control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.control button{
    width: 150px;
    height: 40px;
    background-color: var(--main-color);
    font-family: var(--main-font);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    margin: 10px 5px;
    border-radius: 15px;
    transition: var(--main-transition);
    cursor: pointer;
}
.control button:hover{
    background-color: white;
    border: 2px var(--main-color) solid;
    color: var(--main-color);
}
